# dependencies
node_modules/

# production build
/dist/
/build/

# misc
.env
.env.*
*.log

# MSW (Mock Service Worker)
public/mockServiceWorker.js

# editor
.vscode/
.DS_Store

# test coverage
coverage/

# cache directories
.jest-cache/

# local config
*.local.js
*.local.ts

*storybook.log
storybook-static

# jest-cache
.jest-cache/

# cursor
.cursor/

# filter word
src/converter/ts/profanityWords.ts