spring:
  application:
    name: moment
  mvc:
    async:
      request-timeout: -1

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/mysql
    user: ${FLYWAY_DB_USER}
    password: ${FLYWAY_DB_PASSWORD}
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: never
      table-name: SPRING_SESSION
    timeout: ${ADMIN_SESSION_TIMEOUT:3600s}

  sql:
    init:
      mode: always
      data-locations: classpath:sql/test-users.sql

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_EMAIL_ACCOUNT}
    password: ${GOOGLE_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  cloud:
    aws:
      region:
        static: ap-northeast-2
      stack:
        auto: false

jwt:
  secret:
    access_key: ${JWT_ACCESS_SECRET_KEY}
    refresh_key: ${JWT_REFRESH_SECRET_KEY}

expiration:
  access-token-time: ${ACCESS_TOKEN_EXPIRATION_TIME}
  refresh-token-time: ${REFRESH_TOKEN_EXPIRATION_TIME}

auth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: https://dev.connectingmoment.com/api/v2/auth/callback/google
    client-uri: https://dev.connectingmoment.com
  apple:
    client-ids: ${APPLE_CLIENT_IDS:com.moment.app}
  password_update:
    uri: https://dev.connectingmoment.com/passwordUpdate?token=

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /v3/api-docs

server:
  forward-headers-strategy: native
  servlet:
    session:
      timeout: ${ADMIN_SESSION_TIMEOUT:3600}

management:
  metrics:
    enable:
      jvm.memory.used: true
      jvm.memory.max: true
      jvm.gc.pause: true
      jvm.threads: true
      hikaricp: true
      http.server: true
      process.cpu: true
      process.uptime: true

  cloudwatch:
    metrics:
      export:
        enabled: true
        step: 1m
        namespace: Moment/dev

s3:
  bucket-name: ${S3_BUCKET_NAME}
  bucket-path: ${S3_DEV_BUCKET_PATH}
  optimized-bucket-path: ${S3_DEV_BUCKET_OPTIMIZED_PATH}
  cloudfront-domain: ${CLOUDFRONT_DOMAIN}

expo:
  push:
    enabled: true

admin:
  initial:
    email: ${ADMIN_INITIAL_EMAIL}
    password: ${ADMIN_INITIAL_PASSWORD}
    name: ${ADMIN_INITIAL_NAME}
  session:
    timeout: ${ADMIN_SESSION_TIMEOUT}
    cookie-name: SESSION
