spring:
  application:
    name: moment
  mvc:
    async:
      request-timeout: -1

  datasource:
    write:
      jdbc-url: jdbc:mysql://${WRITE_DB_HOST}:${DB_PORT}/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver
    read:
      jdbc-url: jdbc:mysql://${READ_DB_HOST}:${DB_PORT}/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/mysql
    user: ${FLYWAY_DB_USER}
    password: ${FLYWAY_DB_PASSWORD}
    url: jdbc:mysql://${WRITE_DB_HOST}:${DB_PORT}/${DB_NAME}

  sql:
    init:
      mode: never

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_EMAIL_ACCOUNT}
    password: ${GOOGLE_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  cloud:
    aws:
      region:
        static: ap-northeast-2
      stack:
        auto: false

jwt:
  secret:
    access_key: ${JWT_ACCESS_SECRET_KEY}
    refresh_key: ${JWT_REFRESH_SECRET_KEY}

expiration:
  access-token-time: ${ACCESS_TOKEN_EXPIRATION_TIME}
  refresh-token-time: ${REFRESH_TOKEN_EXPIRATION_TIME}

auth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: https://api.connectingmoment.com/api/v1/auth/callback/google
    client-uri: https://www.connectingmoment.com
  password_update:
    uri: https://connectingmoment.com/passwordUpdate?token=

server:
  tomcat:
    mbeanregistry:
      enabled: true
    threads:
      max: 7      # (예시) 최대 스레드 수를 200개로 설정
      min-spare: 7  # (예시) 최소 유휴 스레드 수를 20개로 설정
      accept-count: 100  # (예시) 연결 대기 큐 크기를 100개로 설정

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator

  endpoint:
    health:
      show-details: always

  metrics:
    enabled: # enable -> enabled로 수정
      jvm.memory.used: true
      jvm.memory.max: true
      jvm.gc.pause: true
      jvm.threads: true
      hikaricp: true
      http.server: true
      process.cpu: true
      process.uptime: true
      tomcat: true
      tomcat.threads: true
      tomcat.sessions: true
      tomcat.cache: true
      tomcat.global: true

    export:
      cloudwatch:
        enabled: true
        step: 1m
        namespace: Moment/prod

    tags:
      application: ${spring.application.name}
      environment: prod

s3:
  bucket-name: ${S3_BUCKET_NAME}
  bucket-path: ${S3_PROD_BUCKET_PATH}
  optimized-bucket-path: ${S3_PROD_BUCKET_OPTIMIZED_PATH}

fcm:
  service-account-json: ${FCM_CREDENTIALS}
