spring:
  application:
    name: moment-admin

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  flyway:
    enabled: false

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: never
      table-name: SPRING_SESSION
    timeout: ${ADMIN_SESSION_TIMEOUT:3600s}

server:
  port: 8081
  forward-headers-strategy: native

admin:
  initial:
    email: ${ADMIN_INITIAL_EMAIL}
    password: ${ADMIN_INITIAL_PASSWORD}
    name: ${ADMIN_INITIAL_NAME}
  session:
    timeout: ${ADMIN_SESSION_TIMEOUT}
    cookie-name: SESSION
