name: Dev Moment Admin CD

on:
  push:
    branches:
      - develop
    paths:
      - "admin/**"
      - ".github/workflows/dev-admin-cd.yml"
  workflow_dispatch:

defaults:
  run:
    working-directory: ./admin

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "pnpm"
          cache-dependency-path: "./admin/pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build application
        env:
          VITE_ADMIN_API_BASE_URL: ${{ secrets.VITE_ADMIN_API_BASE_URL }}
        run: pnpm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to S3
        run: aws s3 sync ./dist/ s3://${{ secrets.ADMIN_AWS_S3_BUCKET_NAME }}/admin/ --delete

      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.ADMIN_AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/admin/*"
